:root {
  --slate-950: #020617;
  --orange-200: #fed7aa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-light: #000;
    --bg-color-dark: #000;
    --text-color: #ffffff;
    --header-bg-color: #1a1a1a;
    --button-bg-color: #333333;
    --button-text-color: #ffffff;
  }
}

/* Scrollbar for Webkit browsers (Chrome, Safari, and Edge Chromium) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #22d3ee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22d3ee;
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #22d3ee #1e293b;
}

img,
h2,
h3,
h4,
h5,
h6,
a,
span,
button,
input,
select,
textarea {
  user-select: none;
}

.hi {
  letter-spacing: 0.5px;
  font-weight: 400;
}

.social-links a {
  @apply transition-colors;
}

.social-links a:hover {
  @apply text-indigo-50;
}

.showcase-img img {
}

.terminal {
  position: relative;
}

.terminal-win {
  width: 410px;
  border-radius: 1rem;
  background: rgba(2, 6, 23, 0.85);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.terminal-head {
  width: 100%;
  height: 30px;
  background: rgb(2, 6, 23);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.close,
.minimize,
.maximize {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.close {
  background: #ff605c;
}
.minimize {
  background: #ffbd44;
}
.maximize {
  background: #00ca4e;
}

.terminal-body pre {
  font-size: 0.925rem /* 14px */;
  line-height: 1.4rem /* 20px */;
  font-family: "Montserrat", sans-serif;
  padding: 2px 0;
}

/* ..................... */
.experiences-after {
  @apply relative cursor-pointer after:absolute after:right-1 after:top-1 after:-z-10 after:h-full after:w-full after:rounded-lg after:opacity-70 after:transition-all hover:after:right-0.5 hover:after:top-1.5;
}
