:root {
  --slate-950: rgb(2, 6, 23);
  --slate-900: rgb(15, 23, 42);
  --slate-800: rgb(30, 41, 59);
  --gray-800: rgb(17, 24, 39);
  --zinc-950: rgb(9, 9, 11);
  --orange-200: rgb(254, 215, 170);
  --indigo-950: rgb(30, 27, 75);
  --main-color-1: #008cff;
  --main-color-2: #008cff;
  --bg-color-light: #fff;
  --bg-color-dark: #fff;
  --text-color: #000000;
  --header-bg-color: #f0f0f0;
  --button-bg-color: #ffffff;
  --button-text-color: #000000;
  --code-color-1: #e06c75;
  --code-color-2: #e5c07b;
  --code-color-3: #98c379;
  --code-color-4: #61afef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-light: #000;
    --bg-color-dark: #000;
    --text-color: #ffffff;
    --header-bg-color: #1a1a1a;
    --button-bg-color: #333333;
    --button-text-color: #ffffff;
  }
}

.navbar {
  position: fixed;
  z-index: 1000;
  transition: padding 0.3s ease-in-out;
}

.navbar.sticky {
  position: fixed;
  padding: 1.25rem 0;
  top: 0;
  width: 100%;
  background: rgba(2, 6, 23, 0.5);
  -moz-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.navbar.scrolled {
  padding: 1.25rem 0;
  position: fixed;
  background: rgba(2, 6, 23, 0.5);
  -moz-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  --tw-shadow: 0 0 10 0px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 0 10 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.navbar.scrolled .logo span,
.navbar.scrolled .nav-link a {
  color: white;
}

.navHolder {
  width: 100%;
}

.nav-list {
  color: rgb(2, 6, 23);
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.nav-list.open {
  background: rgb(2, 6, 23);
  color: white;
  height: 140vh;
  right: 0;
}

.nav-list.open .nav-link a {
  color: white;
}

.nav-link {
  /* margin: 5px; */
}

.nav-link a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  cursor: pointer !important;
}

.nav-link a:hover {
  color: #414141;
  transition: all 0.15s ease-in-out;
}

.nav-link a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background: linear-gradient(90deg, var(--cyanblue) 1%, var(--cyandark2) 100%);
  transition: width 0.3s ease;
}

.nav-link a.active::after {
  width: 100%;
}

.two-color-bg {
  background: linear-gradient(
    90deg,
    var(--slate-950) 50%,
    var(--orange-200) 50%
  );
}

.sub-heading {
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  padding: 0.13rem 0.75rem;
  margin-bottom: 1rem;
  font-weight: 500;
  border-left: 3px solid var(--main-color-2);
}

.social-links a {
  transition: 0.3s ease-in-out;
}

.social-links a:hover {
  color: var(--main-color-1);
}

.social-links a.btn {
  border-bottom: 3px solid var(--main-color-2);
}

.showcase-img img {
}

.terminal {
  position: relative;
}

.terminal-win {
  width: 410px;
  height: 260px;
  border-radius: 0.5rem;
  background: rgba(2, 6, 23, 0.85);
  box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.terminal-head {
  width: 100%;
  height: 30px;
  background: rgb(2, 6, 23);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.close,
.minimize,
.maximize {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
.close {
  background: #ff605c;
}
.minimize {
  background: #ffbd44;
}
.maximize {
  background: #00ca4e;
}

.terminal-body {
  line-height: 2.5rem;
}

.code-color-1 {
  color: var(--code-color-1);
}

.code-color-2 {
  color: var(--code-color-2);
}

.code-color-3 {
  color: var(--code-color-3);
}
.code-color-4 {
  color: var(--code-color-4);
}

.space {
  height: 5000px;
}

@media (max-width: 1024px) {
  .nav-list {
    position: fixed;
    top: 4.5rem;
    right: -100%;
    z-index: -50;
    display: flex;
    flex-direction: column;
    height: 140vh;
    width: 80%;
    background: rgb(2, 6, 23);
    transition: right 0.3s ease-in-out;
  }

  .nav-list.open {
    background: rgb(2, 6, 23);
    height: 140vh;
    right: 0;
  }

  .navbar.scrolled {
    top: 0px;
  }

  .navbar.open {
    background: rgb(2, 6, 23);
  }

  .navbar {
    transition: all 0.3s ease-in-out;
  }

  .navbar.scrolled {
    /* background: var(--bglight); */
  }
}
