@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    background-color: rgb(17, 24, 39);
    @apply text-white;
  }

  .navbar {
    @apply flex fixed top-0 left-0 w-full z-50 py-8 px-4;
  }
  .navbar .container {
    @apply flex justify-between items-center;
  }

  .navHolder {
    @apply flex items-center;
  }

  .nav-list {
    /* @apply mr-14; */
  }

  .nav-link {
    @apply px-2;
  }

  .hamburger {
    @apply hidden cursor-pointer;
  }

  .hamburger .bar {
    @apply block w-6;
    height: 3px;
    margin: 5px 0;
  }
}

/* Extra small devices (phones, 576px and down) */
@media (max-width: 575.98px) {
  /* Styles for extra small devices */
}

/* Small devices (tablets, 576px and up) */
@media (max-width: 767.98px) {
  .header {
    @apply relative w-full h-max;
    background: rgb(15, 23, 42);
  }

  .header .container {
    @apply block pt-20 mb-6;
  }

  .intro .info {
    @apply text-left py-4 p-0;
  }

  .intro .hi {
    /* @apply text-lg; */
  }

  .intro .heading {
    @apply text-5xl;
  }

  .intro,
  .terminal {
    @apply w-auto mx-auto px-4 pt-8;
  }

  .social-links {
    @apply m-0 mb-4;
  }

  .showcase-img {
    @apply relative px-4 pt-4 rounded-3xl mx-8 mb-4;
    background: linear-gradient(
      54.5deg,
      rgba(6, 5, 25) 50%,
      rgb(254, 215, 170) 50%
    );
  }

  .terminal {
    @apply py-4;
  }

  .terminal-win {
    @apply mx-auto w-full h-auto;
    /* box-shadow: 0px 0px 1px var(--main-color-2); */
    box-shadow: none;
  }
  .terminal-body {
    @apply my-1 mb-2 px-4 pb-1;
  }
  .terminal-body span {
    @apply text-lg;
  }
}

/* Medium devices (small laptops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .info {
    @apply pr-20;
  }
}

/* Large devices (laptops, 992px and up) */
@media (max-width: 1024px) {
  .nav-list {
  }

  .nav-link {
    @apply justify-center items-center h-6 text-base;
    text-align: right !important;
  }

  .nav-link a {
    @apply mr-10 py-4;
  }

  .hamburger {
    @apply px-2 h-8 w-8 box-content cursor-pointer relative;
  }

  .hamburger .bar {
    @apply rounded;
  }

  .hamburger .bar:nth-child(1) {
    @apply top-2 transition-all duration-200;
  }

  .hamburger .bar:nth-child(2) {
    @apply top-4 transition-all duration-200;
  }

  .hamburger .bar:nth-child(3) {
    @apply top-6 transition-all duration-200;
  }

  .navbar.open .hamburger .bar:nth-child(1) {
    @apply top-[50%] translate-y-[200%] rotate-[-45deg] transition duration-200;
  }

  .navbar.open .hamburger .bar:nth-child(2) {
    @apply hidden transition duration-200;
  }

  .navbar.open .hamburger .bar:nth-child(3) {
    @apply top-[50%] translate-y-[0%] rotate-[45deg] transition duration-200;
  }

  .navbar .container {
    @apply relative;
  }

  .nav-list {
    @apply block;
  }

  .nav-link::after {
    @apply content-[""] absolute w-full h-2 rounded bottom-2 left-0;
  }

  .nav-link {
    @apply my-6 font-medium w-full text-center;
  }

  .hamburger {
    @apply block;
  }
}

/* Extra large devices (desktops, 1200px and up) */
@media (max-width: 1280px) {
  .info {
    @apply pr-28;
  }
}

/* XXL devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .header {
  }

  .info .heading {
  }

  .showcase-img img {
    width: 450px;
  }
}

@media (min-width: 1900px) {
  .header {
  }
  .info {
    @apply mr-10;
  }
  .info .heading {
    @apply text-6xl;
  }
  .showcase-img img {
    width: 524px;
  }
  .terminal {
    scale: 1.1;
    @apply mb-10 ml-0;
  }
}
