@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-gray-900 text-white;
    font-size: calc(12px + 0.4vw);
  }

  .navbar {
    @apply fixed left-0 top-0 z-50 flex w-full px-4 py-8;
  }
  .navbar .container {
    @apply flex items-center justify-between;
  }

  .navHolder {
    @apply flex items-center;
  }

  .nav-list {
    /* @apply mr-14; */
  }

  .nav-link {
    @apply px-2;
  }

  .hamburger {
    @apply hidden cursor-pointer;
  }

  .hamburger .bar {
    @apply block w-6;
    height: 3px;
    margin: 5px 0;
  }
}

/* Extra small devices (phones, 576px and down) */
@media (max-width: 575.98px) {
  /* Styles for extra small devices */
}

/* Small devices (tablets, 576px and up) */
@media (max-width: 767.98px) {
  .header {
    background: none;
    @apply relative h-max w-full bg-slate-900;
  }

  .header .container {
    @apply mb-4 block pt-20;
  }

  .intro,
  .terminal {
    @apply mx-auto w-auto px-4 pt-8;
  }

  .showcase-img {
    @apply relative mx-4 mb-4 rounded-3xl px-2;
    background: linear-gradient(
      54.5deg,
      rgba(6, 5, 25) 50%,
      rgb(254, 215, 170) 50%
    );
  }

  .terminal {
    @apply py-4;
  }

  .terminal-win {
    @apply mx-auto h-auto w-full min-w-fit;
    box-shadow: none;
  }
  .terminal-body {
    @apply px-4;
  }
}

/* Medium devices (small laptops, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* empty */
}

/* Large devices (laptops, 992px and up) */
@media (max-width: 1024px) {
  .nav-list {
  }

  .nav-link {
    @apply h-6 items-center justify-center text-base;
    text-align: right !important;
  }

  .nav-link a {
    @apply mr-10 py-4;
  }

  .hamburger {
    @apply relative box-content h-8 w-8 cursor-pointer px-2;
  }

  .hamburger .bar {
    @apply rounded;
  }

  .hamburger .bar:nth-child(1) {
    @apply top-2 transition-all duration-200;
  }

  .hamburger .bar:nth-child(2) {
    @apply top-4 transition-all duration-200;
  }

  .hamburger .bar:nth-child(3) {
    @apply top-6 transition-all duration-200;
  }

  .navbar.open .hamburger .bar:nth-child(1) {
    @apply top-[50%] translate-y-[200%] rotate-[-45deg] transition duration-200;
  }

  .navbar.open .hamburger .bar:nth-child(2) {
    @apply hidden transition duration-200;
  }

  .navbar.open .hamburger .bar:nth-child(3) {
    @apply top-[50%] translate-y-[0%] rotate-[45deg] transition duration-200;
  }

  .navbar .container {
    @apply relative;
  }

  .nav-list {
    @apply block;
  }

  .nav-link::after {
    @apply absolute bottom-2 left-0 h-2 w-full rounded content-[""];
  }

  .nav-link {
    @apply my-6 w-full text-center;
  }

  .hamburger {
    @apply block;
  }
}

/* Extra large devices (desktops, 1200px and up) */
@media (max-width: 1280px) {
}

/* XXL devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
  .showcase-img img {
    width: 450px;
  }
}

@media (min-width: 1900px) {
  .showcase-img img {
    width: 524px;
  }
}
